
.breadcrumb_banner {
    position: relative;
    z-index: 1;
    padding: 2.60417vw 0 10.41667vw;
}
.breadcrumb_banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
}
.breadcrumb ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    column-gap: 3.125vw;
}
.breadcrumb ol li {
    display: inline-block;
}
.breadcrumb ol li {
    color: var(--theme-white-color);
    position: relative;
}
.breadcrumb ol li a {
    display: block;
    position: relative;
}
.breadcrumb ol li:not(:first-child) {
    /* padding-left: 3.125vw; */
}
.breadcrumb ol li.active {
    font-weight: 700;
    
}
.breadcrumb ol li:not(:first-child)::before {
    content: ">>";
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: -2.08333vw;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.breadcrumb_heading .title {
    font-weight: 400;
    margin-bottom: 0.5em;
    margin-top: 1.389em;
    color: var(--theme-white-color);
}


.about_section {
    position: relative;
    padding: 8.85417vw 0 5.20833vw;
}
.about_section .section_heading *,
.about_section .section_heading h2,
.about_section .section_heading h3,
.about_section .section_heading h4 {
    font-size: 2.91667vw;
    font-weight: 700;
    margin-bottom: 0.893em;
}
.about_section_2 {
    padding: 6.77083vw 0 5.20833vw;
}
.about_area {
    padding-left: 3.64583vw;
}
/* .about_area > *, */
.about_area h2,
.about_area h3,
.about_area h4 {
    font-size: 1.45833vw;
    font-weight: 700;
    letter-spacing: 0.28px;
    margin-top: 0.571em;
    margin-bottom: 1.429em;
    line-height: 1.5;
}
.about_area .about_content p,
.about_area .about_content *,
.about_area p {
    letter-spacing: 0.24px;
    margin-bottom: 0;
    font-size: 1.25vw;
}
.about_area .about_content p + p,
.about_area .about_content * + *,
.about_area p + p {
    margin-top: 1.667em;
}
.about_img {
    position: relative;
}
.about_img .about_lg {
    max-width: 740px;
    width: 38.54167vw;
}
.about_img .about_sm::before {
    content: "";
    position: absolute;
    top: -10%;
    left: -10.5%;
    background-color: var(--theme-white-color);
    z-index: 0;
    width: 100%;
    height: 100%;
}
.about_img .about_sm {
    position: absolute;
    bottom: -5.20833vw;
    bottom: -16.5%;
    right: -4.16667vw;
    right: -1.5%;
    width: 19.27083vw;
}
.about_img .about_sm img {
    position: relative;
    z-index: 1;
}
.about_row_bottom {
    align-items: center;
}
.container.about_container {
    overflow: hidden;
}
.about_row_bottom .about_mission_img {
    max-width: 1074px;
    width: 55.9357vw;
    position: relative;
    right: -13px;
    z-index: -1;
}
.about_row_bottom .about_mission {
    max-width: 740px;
    width: 38.54167vw;
    background-color: var(--theme-white-color);
    padding: 1.5625vw 5px 1.5625vw 0;
    position: relative;
    z-index: 0;
}
.about_mission .fs-24 {
    letter-spacing: 0.24px;
}
.about_mission p {
    margin-bottom: 0;
}


.vision_section {
    position: relative;
    padding: 5.20833vw 0;
}
.vision_section .section_heading {
    max-width: 720px;
    width: 37.5vw;
}
.vision_section .section_heading h2,
.vision_section .section_heading h3,
.vision_section .section_heading h4,
.vision_section .section_heading * {
    font-weight: 700;
    font-size: 2.91667vw;
    margin-bottom: 1.071em;
}
.vision_section .section_heading h2 span,
.vision_section .section_heading h3 span,
.vision_section .section_heading h4 span,
.vision_section .section_heading * span {
    color: var(--theme-btn-color);
    display: flex;
}
.vision_section .accordion_item {
    padding-bottom: 2.08333vw;
    border-bottom: 1px solid #B9B9B9;
}
.vision_section .accordion_item + .accordion_item {
    padding-top: 2.08333vw;
}
.vision_section .accordion_item + .accordion_item .accordion_content {
    display: none;
}
.vision_section .accordion_item .accordion_title {
    cursor: pointer;
    color: #868282;
    position: relative;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.vision_section .accordion_item .accordion_title > *
.vision_section .accordion_item .accordion_title > h2,
.vision_section .accordion_item .accordion_title > h3,
.vision_section .accordion_item .accordion_title > h4 {
    font-size: 1.45833vw;
    font-weight: 700;
    letter-spacing: 0.28px;
    margin-bottom: 0.536em;
}
.vision_section .accordion_item .accordion_title::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(0deg);
    -webkit-transform: translateY(-50%) rotate(0deg);
    -moz-transform: translateY(-50%) rotate(0deg);
    -ms-transform: translateY(-50%) rotate(0deg);
    -o-transform: translateY(-50%) rotate(0deg);
    width: 2.29167vw;
    height: 2.29167vw;
    background-image: url('data:image/svg+xml,<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="22" cy="22" r="22" fill="%230384D4"/><path d="M10.6406 16.4224L22.3932 29.0047" stroke="white" stroke-width="3" stroke-linecap="round"/><path d="M34 16.4224L22.2474 29.0047" stroke="white" stroke-width="3" stroke-linecap="round"/></svg>');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.vision_section .accordion_item .accordion_title.active {
    color: #383838;
}
.vision_section .accordion_item .accordion_title.active::before {
    transform: translateY(-50%) rotate(-180deg);
    -webkit-transform: translateY(-50%) rotate(-180deg);
    -moz-transform: translateY(-50%) rotate(-180deg);
    -ms-transform: translateY(-50%) rotate(-180deg);
    -o-transform: translateY(-50%) rotate(-180deg);
    visibility: hidden;
    opacity: 0;
}
.vision_section .accordion_item .fs-28 {
    /* letter-spacing: 0.28px; */
    /* margin-bottom: 0.536em; */
   
}
.vision_section .accordion_item .fs-24 {
    letter-spacing: 0.24px;
}
.vision_section .accordion_content {
    cursor: default;
}
.vision_section .accordion_content p {
    margin-bottom: 0;
}
.vision_section .accordion_content p + p {
    margin-top: 0.667em;
}
.vision_section .vision_img {
    max-width: 863px;
    width: 44.79167vw;
    margin-left: auto;
}


.team_section {
    position: relative;
    padding: 5.20833vw 0 10.41667vw;
}
.team_section .section_heading *,
.team_section .section_heading h2,
.team_section .section_heading h3,
.team_section .section_heading h4 {
    font-size: 2.91667vw;
    font-weight: 700;
    margin-bottom: 1.518em;
}
.team_row {
    column-gap: 3.02083vw;
    row-gap: 3.64583vw;
}
.team_row [class*="col-"] {
    width: calc((100% - 3.02083vw * 2) / 3);
}
.team_area {
    position: relative;
    overflow: hidden;
}
.team_wrapper {
    position: absolute;
    left: 0;
    right: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    top: 76%;
    height: 100%;
}
.team_post {
    color: var(--theme-white-color);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    position: relative;
}
.team_shape {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
    height: 6.92708vw;
    height: 100%;
    --theme-blue-rgba: rgba(2, 107, 182, 0.7);
    background-color: var(--theme-blue-rgba);
    -webkit-backdrop-filter: blur(22px);
    backdrop-filter: blur(22px);
    z-index: 0;
    -webkit-clip-path: polygon(0 0, 45% 0, 51% 40%, 100% 40%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 45% 0, 51% 40%, 100% 40%, 100% 100%, 0 100%);

}
.team_post_name {
    padding: 0.4em 1.25em 0.75em;
    position: relative;
    z-index: 1;
    font-size: 1.04167vw;
    font-weight: 600;
}
.team_post_name > * {
    font-size: 1.04167vw;
    font-weight: 600;
    margin-bottom: 0;
}
.team_post .team_name {
    font-size: 1.45833vw;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
    text-align: center;
    padding: 0.78125vw 1.04167vw;
    padding: 0.643em 0.714em 0.893em;
    border-top: 1px solid rgba(255, 255, 255, 0.19);
    position: relative;
    z-index: 1;
}
.team_post .team_name > * {
    margin-bottom: 0;
    line-height: 1.2;
}
.team_post .team_content {
    padding: 0.4em 1.25em 0.75em;
    position: relative;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    position: absolute;
}
.team_post .team_content p {
    margin-bottom: 0;
}
.team_wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    --theme-blue-rgba: rgba(2, 107, 182, 0.7);
    background-color: var(--theme-blue-rgba);
    -webkit-backdrop-filter: blur(22px);
    backdrop-filter: blur(22px);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.team_area:hover .team_wrapper::before {
    visibility: visible;
    opacity: 1;
}
.team_area:hover .team_post {
    background-color: transparent;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
}
.team_area:hover .team_wrapper {
    top: 0;
    padding: 2em 1.55em;
    padding: 2.08333vw 1.5625vw;
}
.team_area:hover .team_shape {
    visibility: hidden;
    opacity: 0;
}
.team_area:hover .team_post_name {
    padding: 0 0 0.35em;
}
.team_area:hover .team_name {
    border-color: transparent;
    text-align: left;
    padding: 0 0 0.593em;
}
.team_area:hover .team_content {
    padding: 0;
    visibility: visible;
    opacity: 1;
}

@media (max-width: 1366px) {
    .vision_section .accordion_item .accordion_title::before {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 1199px) {
    .about_area .about_title,
    .about_area .about_title > *,
    .about_area .about_title h2,
    .about_area .about_title h3,
    .about_area .about_title h4 {
        font-size: 18px;
    }
    .about_area .about_content p,
    .about_area .about_content *,
    .about_area p {
        font-size: 14px;
    }
    .about_row_bottom .about_mission {
        width: 42.54167vw;
    }
    .vision_section .section_heading {
        width: 100%;
    }
    .vision_section .accordion_item .accordion_title > *
    .vision_section .accordion_item .accordion_title > h2,
    .vision_section .accordion_item .accordion_title > h3,
    .vision_section .accordion_item .accordion_title > h4 {
        font-size: 18px;
    }
    .team_post_name,
    .team_post_name > * {
        font-size: 12px;
    }
    .team_post .team_name {
        font-size: 16px;
    }
}
@media (max-width: 991px) {
    .breadcrumb ol li:not(:first-child)::before {
        /* left: 5%;
        left: 0; */
    }
    .about_area {
        padding-left: 0;
        padding-top: 50px;
    }
    .about_section_2 {
        padding-top: 30px;
    }
    .about_section .about_row_top [class*="col-"]:last-child {
        width: 100%;
    }
    .about_row_bottom .about_mission {
        width: 52.54167vw;
    }
    .about_row_bottom .about_mission_img {
        width: 70.9357vw;
    }
    .team_row [class*="col-"] {
        width: calc((100% - 3.02083vw) / 2);
    }
    .team_wrapper {
        top: 79.5%;
    }
    .team_area:hover .team_wrapper {
        padding: 3.08333vw 2.5625vw;
    }
    .team_post .team_content {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .breadcrumb_banner {
        padding: 30px 0 50px;
    }
    .breadcrumb ol li:not(:first-child) {
        padding-left: 25px;
    }
    .about_section {
        padding: 50px 0;
    }
    .about_section .section_heading *,
    .about_section .section_heading h2,
    .about_section .section_heading h3,
    .about_section .section_heading h4 {
        font-size: 30px;
    }
    .about_img .about_lg {
        width: 90%;
    }
    .about_img .about_sm {
        width: 45%;
        right: 0;
    }
    .about_area {
        padding-left: 0;
        padding-top: 60px;
    }
    .about_area .about_title,
    .about_area .about_title > *,
    .about_area .about_title h2,
    .about_area .about_title h3,
    .about_area .about_title h4 {
        font-size: 20px;
    }
    .about_area .about_content p,
    .about_area .about_content *,
    .about_area p {
        font-size: 16px;
    }
    .about_section_2 {
        padding: 0 0 50px;
    }
    .about_section_2 .row {
        flex-direction: column-reverse;
    }
    .about_row_bottom .about_mission {
        width: 100%;
        /* padding-bottom: 30px; */
    }
    .about_row_bottom .about_mission_img {
        width: 100%;
        right: 0;
        padding-bottom: 30px;
    }
    .vision_section {
        padding: 50px 0;
    }
    .vision_section .section_heading h2,
    .vision_section .section_heading h3,
    .vision_section .section_heading h4,
    .vision_section .section_heading * {
        font-size: 30px;
    }
    .vision_section .accordion_item {
        padding-bottom: 20px;
    }
    .vision_section .accordion_item + .accordion_item {
        padding-top: 20px;
    }
    .vision_section .accordion_item .accordion_title::before {
        width: 25px;
        height: 25px;
    }
    .vision_section .vision_img {
        width: 100%;
        padding-top: 30px;
    }
    .team_section {
        padding: 50px 0;
    }
    .team_section .section_heading *,
    .team_section .section_heading h2,
    .team_section .section_heading h3,
    .team_section .section_heading h4 {
        font-size: 30px;
    }
    .team_row {
        row-gap: 30px;
    }
    .team_row [class*="col-"] {
        width: 100%;
    }
    .team_wrapper {
        top: 78%;
        height: auto;
        top: auto;
        bottom: 0;
        transition: top 0.9s ease;
        -webkit-transition: top 0.9s ease;
        -moz-transition: top 0.9s ease;
        -ms-transition: top 0.9s ease;
        -o-transition: top 0.9s ease;
}
    .team_wrapper::before {
        transition: height 0.9s ease;
        -webkit-transition: height 0.9s ease;
        -moz-transition: height 0.9s ease;
        -ms-transition: height 0.9s ease;
        -o-transition: height 0.9s ease;
}
    .team_area .team_img .img-fluid {
        width: 100%;
    }
    .team_area:hover .team_wrapper {
        padding: 30px;
        height: 100%;
        bottom: auto;
    }
}

