
.blog_detail_section {
    position: relative;
    overflow: hidden;
    padding: 5.29167vw 0 7.8125vw;
}

.topic_wrap {
    position: relative;
}
.topic_wrap .topic_area {
    background: rgba(237, 237, 237, 0.70);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 2.08333vw 1.82292vw;
}
.topic_heading > * {
    font-size: 1.45833vw;
    font-weight: 700;
    color: #383838;
    text-align: center;
    letter-spacing: 0.28px;
    margin-bottom: 0.893em;
}
.topic_list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topic_list .topic_item {
    border-top: 1px solid #AEAEAE;
}
.topic_list .topic_item a {
    font-size: 1.25vw;
    font-weight: 500;
    letter-spacing: 0.24px;
    color: #656565;
    padding: 0.5em 0;
    display: block;
}
.topic_list .topic_item.active a {
    color: #383838;
}

.related_blog_wrap {
    margin-top: 4.16667vw;
}
.related_blog_wrap .related_blog_area {
    background: rgba(237, 237, 237, 0.70);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 2.08333vw 1.82292vw;
}
.related_blog_heading > * {
    font-size: 1.45833vw;
    font-weight: 700;
    color: #383838;
    text-align: center;
    letter-spacing: 0.28px;
    margin-bottom: 0.893em;
}
.related_blog_list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.related_blog_list .related_blog_item {
    border-top: 1px solid #AEAEAE;
}
.related_blog_list .related_blog_item a {
    font-size: 1.25vw;
    font-weight: 500;
    letter-spacing: 0.24px;
    color: #575757;
    padding: 0.5em 0;
    display: block;
}
.related_blog_list .related_blog_item.active a {
    color: #383838;
}


/* blog detail area start */
/* .blog_row {
    column-gap: 4.16667vw;
} */
.blog_row > *:last-child {
    padding-left: 3.64583vw;
}
.blog_post_wrap {
    position: relative;
}
.blog_post_list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    column-gap: 2.5vw;
    padding-bottom: 1.30208vw;
    margin-bottom: 20px;
    border-bottom: 1px solid #D2D2D2;
}
.blog_post_list li {
    font-size: 1.25vw;
    font-weight: 500;
    letter-spacing: 0.24px;
    position: relative;
    padding: 10px 0;
    color: #626262;
}
.blog_post_list li + li::before {
    content: "";
    position: absolute;
    left: -1.25vw;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #A6A6A6;
}

.blog_post_content {
    position: relative;
}
.blog_post_content h2 {
    font-size: 1.87667vw;
    font-weight: 700;
    margin-bottom: 0.357em;
    margin-top: 1.071em;
}
.blog_post_content h3 {
    font-size: 1.68667vw;
    font-weight: 700;
    margin-bottom: 0.357em;
    margin-top: 1.071em;
}
.blog_post_content h2 strong,
.blog_post_content h3 strong,
.blog_post_content h4 strong,
.blog_post_content h5 strong,
.blog_post_content h6 strong {
    font-weight: unset;
}
.blog_post_content h2:first-child,
.blog_post_content h3:first-child {
    margin-top: 0;
}
.blog_post_content h4,
.blog_post_content h5,
.blog_post_content h6 {
    font-size: 1.45833vw;
    font-weight: 700;
    letter-spacing: 0.28px;
    margin-bottom: 0.714em;
    margin-top: 1.429em;
}
.blog_post_content p {
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    color: var(--theme-black-color);
    margin-bottom: 0;
}
.blog_post_content ul,
.blog_post_content ol {
    margin-bottom: 2.08333vw;
    margin-top: 2.08333vw;
}
.blog_post_content ul li,
.blog_post_content ol li {
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    color: var(--theme-black-color);
    margin-bottom: 8px;
}
.blog_post_content p + p {
    margin-top: 2.08333vw;
}
.blog_post_content p:last-child {
    margin-bottom: 20px;
}
.blog_post_content a {
    color: var(--theme-btn-color);
}
.blog_post_content table {
    width: 100%;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #8a8a8a;
    border-style: solid;
    color: rgba(255, 255, 255, 0.80);
    margin-top: 24px;
    margin-bottom: 24px;
}
.blog_post_content table thead {
    background-color: rgb(242 242 242);
}
.blog_post_content table td, .blog_post_content table th {
    border-width: 2px;
    border-color: #8a8a8a;
    border-style: solid;
    padding: 5px;
}
.blog_post_content table tr th,
.blog_post_content table tr td {
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    color: var(--theme-black-color);
}

.blog_post_share {
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 2.60417vw;
    padding: 2.34375vw 0;
    border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
    margin: 4.08333vw 0;
}
.blog_post_share .blog_share_heading {
    font-size: 1.45833vw;
    font-weight: 700;
    letter-spacing: 0.28px;
}
.blog_share_list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    column-gap: 1.30208vw;
}
.blog_share_list li a {
    display: block;
    width: 1.5625vw;
    height: 1.5625vw;
}

.blog_post_comment_wrap {
    position: relative;
}
.blog_post_heading > * {
    font-size: 2.91667vw;
    font-weight: 700;
    color: var(--theme-text-color);
    margin-bottom: 0.893em;
}

.comment_form_area {
    position: relative;
}
.comment_form {
    border: 1px solid #7C7C7C;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    padding: 1.82292vw;
    width: 100%;
    text-align: center;
}
.comment_form .form_item {
    margin-bottom: 2.08333vw;
    position: relative;
    width: 100%;
    text-align: left;
}
.comment_form .form_item .custom_select {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="18" viewBox="0 0 32 18" fill="none"><path d="M1 1L15.9127 16.4269" stroke="%237F7F7F" stroke-width="2" stroke-linecap="round"/><path d="M30.6406 1L15.7279 16.4269" stroke="%237F7F7F" stroke-width="2" stroke-linecap="round"/></svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-position-x: 95%;
    padding-right: 3.214em;
    background-size: 1.66667vw;
}
.comment_form .form_item.col_2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 2.1875vw;
    margin-bottom: 0;
}
.comment_form .form_item.col_2 .form_item {
    width: calc((100% - 2.1875vw) / 2);
}
.comment_form .form_item .form_field {
    position: relative;
    display: block;
    width: 100%;
    padding: 0.6em 1em;
    font-size: 1.45833vw;
    font-weight: 400;
    line-height: 1.2;
    color: var(--theme-text-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--theme-white-color);
    background-clip: padding-box;
    border: 1px solid #A3A3A3;
    border-radius: var(--bs-border-radius);
    background-color: rgba(255, 255, 255, 0.93);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.comment_form .theme-btn {
    padding: 0.714em 3.214em;
}
.comment_form .form_item .form_field:focus {
    outline: none;
    border-color: rgba(3, 132, 212, 1);
}
.comment_form .form_item .form_field:focus-visible {
    outline-offset: 0;
    outline: 1px solid transparent;
}
.comment_form .form_item .form_field.error {
    border-color: rgb(193, 23, 23);
}
.comment_form .form_item .form_field.success {
    border-color: rgb(22, 192, 107);
}

.topic_wrap.mobile-topic_wrap{
        display: none;
    }
/* blog detail area end */


@media (max-width: 1199px) {
    .blog_post_list li {
        font-size: 14px;
    }
    .blog_post_content h2,
    .blog_post_content h3 {
        font-size: 22px;
    }
    .blog_post_content h4,
    .blog_post_content h5,
    .blog_post_content h6 {
    font-size: 18px;
}
    .blog_post_content p {
        font-size: 14px;
    }
    .blog_post_share .blog_share_heading {
        font-size: 16px;
    }
    .blog_share_list li a {
        width: 25px;
        height: 25px;
    }
    .topic_heading > * {
        font-size: 18px;
    }
    .topic_list .topic_item a {
        font-size: 14px;
    }
    .related_blog_heading > * {
        font-size: 18px;
    }
    .related_blog_list .related_blog_item a {
        font-size: 14px;
    }
    .comment_form .form_item .form_field {
        font-size: 14px;
    }
    .blog_post_content p + p {
        margin-top: 15px;
    }
    .blog_post_content ul li,
    .blog_post_content ol li {
        font-size: 14px;
    }
    .blog_post_content table tr th,
    .blog_post_content table tr td {
        font-size: 14px;
    }
    
}

@media (max-width: 767px) {
    .blog_detail_section {
        padding: 30px 0 50px;
    }
    .blog_post_list {
        flex-wrap: wrap;
        column-gap: 20px;
        padding-bottom: 20px;
    }
    .blog_post_list li + li::before {
        left: -10px;
    }
    .blog_post_content h2 {
        font-size: 24px;
    }
    .blog_post_content h3 {
        font-size: 20px;
    }
    .blog_post_content p {
        font-size: 16px;
    }
    .blog_post_content h4,
    .blog_post_content h5,
    .blog_post_content h6 {
        font-size: 18px;
    }
    .blog_post_content table tr th,
    .blog_post_content table tr td {
        font-size: 16px;
    }
    .blog_post_share {
        padding: 20px 0;
        margin: 20px 0 0;
    }
    .blog_post_comment_wrap {
        margin-top: 50px;
    }
    .blog_post_heading > * {
        font-size: 20px;
    }
    .comment_form {
        padding: 20px;
    }
    .comment_form .form_item.col_2 .form_item {
        width: 100%;
    }
    .comment_form .form_item {
        margin-bottom: 20px;
    }
    .blog_row > *:last-child {
        padding-left: 0;
    }
    .topic_wrap {
        margin-top: 50px;
        display: none;
    }

    .topic_wrap.mobile-topic_wrap{
        display: block;
        margin-bottom: 30px;
    }

    .topic_heading > * {
        font-size: 20px;
    }
    .topic_wrap .topic_area {
        padding: 30px 15px;
    }
    .topic_list .topic_item a {
        font-size: 16px;
    }

    .related_blog_wrap {
        margin-top: 40px;
    }
    .related_blog_wrap .related_blog_area {
        padding: 30px 15px;
    }
    .related_blog_heading > * {
        font-size: 20px;
    }
    .related_blog_list .related_blog_item a {
        font-size: 16px;
    }

}