
.blog_listing_section {
    position: relative;
    overflow: hidden;
    padding: 6.25vw 0;
}
.blog_listing_section .section_heading *,
.blog_listing_section .section_heading h2,
.blog_listing_section .section_heading h3,
.blog_listing_section .section_heading h4 {
    font-size: 2.91667vw;
    font-weight: 700;
    margin-bottom: 0.893em;
}
.blog_listing_section .search_area {
    text-align: right;
}
.search_block {
    position: relative;
    max-width: 27.08333vw;
    margin-left: auto;
}
.search_block::after {
    content: "";
    position: absolute;
    right: 1.875vw;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background-image: url("../images/blog-listing/search-icon.webp");
    background-repeat: no-repeat;
    width: 1.875vw;
    height: 1.875vw;
    background-size: contain;
}
.search_block .form-field {
    font-size: 1.45833vw;
    font-weight: 500;
    border: 1px solid #4E4E4E;
    padding: 0.786em 2.857em 0.786em 1.964em ;
    line-height: 1.2155;
}
.blog_items_row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 1.04167vw;
    row-gap: 4.16667vw;
}
.blog_items_row .blog_item_col {
    position: relative;
    width: calc((100% - 1.04167vw * 2) / 3);
}
.blog_items_row .blog_area .theme-btn-link {
    font-weight: 500;
}
.blog_items_row .blog_area .blog_text {
    font-weight: 700;
    line-height: 1.3;
}
.blog_items_row .blog_area {
    top: -11.85833vw;
}

.blog_pagination {
    position: relative;
    margin: 3.64583vw 0 2.60417vw;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 12px;
}
.blog_pagination li a {
    display: block;
    font-size: 1.45833vw;
    font-weight: 500;
    line-height: 1.3;
    color: #626262;
}
.blog_pagination li.active a {
    color: var(--theme-btn-color);
    font-weight: 700;
}


@media (max-width: 1199px) {
    .blog_items_row {
        row-gap: 8.16667vw;
    }
    .blog_pagination {
        margin: 6.64583vw 0 0;
    }
    .search_block {
        max-width: 29.08333vw;
    }
    .blog_pagination li a {
        font-size: 16px;
    }
    .search_block .form-field {
        font-size: 14px;
        margin-bottom: 20px;
    }
}

@media (max-width: 991px) {
    .blog_items_row {
        row-gap: 80px;
    }
    .blog_pagination {
        margin: 11.64583vw 0 0;
    }
}

@media (max-width: 767px) {
    .blog_items_row .blog_area {
        top: 58%;
    }
    .blog_items_row .blog_item_col {
        position: relative;
        width: calc((100% - 10px) / 2);
    }
    .blog_items_row {
        row-gap: 2.16667vw;
        column-gap: 10px;
    }
    .search_block {
        max-width: none;
        width: 100%;
    }
    .search_block .form-field {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .search_block::after {
        width: 20px;
        height: 20px;
        right: 20px;
    }
    .blog_listing_section .section_heading *,
    .blog_listing_section .section_heading h2,
    .blog_listing_section .section_heading h3,
    .blog_listing_section .section_heading h4 {
        font-size: 30px;
    }
    .blog_pagination {
        margin: 30px 0 10px;
    }
}

@media (max-width: 575px) {
    .blog_items_row .blog_item_col {
        width: 100%;
    }
}