
.join_section {
    position: relative;
    overflow: hidden;
    padding: 6.77083vw 0;
}
.join_section .row {
    align-items: center;
}
.team_content_wrap {
    padding-left: 7.8125vw;
}
.join_section .section_heading *,
.join_section .section_heading h2,
.join_section .section_heading h3,
.join_section .section_heading h4 {
    font-size: 2.91667vw;
    font-weight: 700;
    margin-bottom: 0.429em;
}
.join_section .team_content p {
    font-size: 1.25vw;
}
.join_section .team_img_wrap {
    filter: drop-shadow(0px 4px 23.2px rgba(0, 0, 0, 0.15));
}

.cta_section.job_section .section_heading {
    max-width: 66.66667vw;
}
.cta_section.job_section .section_heading .fs-56 {
    font-size: 2.8125vw;
}
.cta_section.job_section .cta_bg::before {
    background: linear-gradient(90deg, rgba(3, 132, 212, 0.80) 0%, rgba(3, 132, 212, 0.80) 82.66%);
}
.why_work_section {
    position: relative;
    overflow: hidden;
    padding: 6.77083vw 0 3.125vw;
}
.why_work_section .section_heading *,
.why_work_section .section_heading h2,
.why_work_section .section_heading h3,
.why_work_section .section_heading h4 {
    font-size: 2.91667vw;
    font-weight: 700;
    margin-bottom: 0.893em;
}
.work_item_wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px; 
}
.work_item_wrap .single_work_item {
    width: calc((100% - (24px * 3)) / 4);
    background-color: var(--theme-light-grey-color);
    box-shadow: 0px 4px 23.2px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 4px 23.2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 23.2px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 4px 23.2px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 4px 23.2px 0px rgba(0, 0, 0, 0.15);
    padding: 3.125vw 0.83333vw 1.875vw;
}
.single_work_item .work_item {
    text-align: center;
}
.work_icon {
    width: 5.20833vw;
    height: 5.20833vw;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 1.25vw;
}
.work_content .work_heading {
    font-size: 1.45833vw;
    padding-left: 2.60417vw;
    padding-right: 2.60417vw;
    font-weight: 700;
    margin-bottom: 1.25vw;
}
.work_content p {
    font-size: 1.25vw;
    margin-bottom: 0;
}

.grow_section {
    padding: 3.125vw 0 6.77083vw;
}
.grow_section .row {
    flex-direction: row-reverse;
}
.grow_section .team_content_wrap {
    padding-left: 0;
    padding-right: 7.8125vw;
}


@media (max-width: 1199px) {
    .join_section .team_content p {
        font-size: 16px;
    }

    .work_content .work_heading {
        font-size: 18px;
    }
    .work_content p {
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .join_section .row {
        align-items: flex-start;
    }
    .work_item_wrap {
        row-gap: 24px;
    }
    .work_item_wrap .single_work_item {
        padding: 20px;
        width: calc((100% - (24px * 1)) / 2);
    }
    .work_content p {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .join_section {
        padding: 40px 0;
    }
    .team_content_wrap {
        margin-top: 30px;
        padding-left: 0;
    }
    .join_section .section_heading *,
    .join_section .section_heading h2,
    .join_section .section_heading h3,
    .join_section .section_heading h4 {
        font-size: 24px;
    }

    .cta_section.job_section .section_heading {
        max-width: 100%;
    }
    .cta_section.job_section .section_heading .fs-56 {
        font-size: 24px;
    }

    .why_work_section {
        padding: 40px 0;
    }
    .why_work_section .section_heading *,
    .why_work_section .section_heading h2,
    .why_work_section .section_heading h3,
    .why_work_section .section_heading h4 {
        font-size: 24px;
    }
    .work_icon {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
    }
    .work_content .work_heading {
        margin-bottom: 15px;
    }
    .work_item_wrap .single_work_item {
        width: 100%;
        padding: 20px;
    }
}