.dashboard_section {
    position: relative;
    padding: 3.125vw 0 5.20833vw;
}
.dashboard_section .section_heading *,
.dashboard_section .section_heading h1,
.dashboard_section .section_heading h2,
.dashboard_section .section_heading h3,
.dashboard_section .section_heading h4 {
    font-size: 3.75vw;
    font-weight: 400;
    margin-bottom: 0.694em;
}
.dashboard_section .section_sub_heading *,
.dashboard_section .section_sub_heading h2,
.dashboard_section .section_sub_heading h3,
.dashboard_section .section_sub_heading h4 {
    font-size: 1.875vw;
    font-weight: 700;
    color: var(--theme-btn-color);
    text-align: center;
    margin-bottom: 0;
}

.my_profile .my_info {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2.34375vw;
    margin-top: 3.38542vw;
}
.profile {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
}
.profile .profile_img {
    width: 6.45833vw;
    height: 6.45833vw;
}
.profile_name .p_name {
    font-size: 36px;
    font-weight: 700;
    color: var(--theme-btn-color);
    margin-bottom: 0.444em;
}
.profile_name .p_email {
    font-size: 24px;
    color: rgba(51, 51, 51, 0.70);
}
.profile_action {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    column-gap: 5.20833vw;
    align-items: flex-end;
}
.profile_action .profile_btn {
    font-size: 28px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 10%;
    text-underline-offset: 25%;
    text-underline-position: from-font;
    margin-bottom: 10px;
}
.application_card {
    border: 4px solid var(--theme-btn-color);
}
.application_card .card_header {
    background-color: var(--theme-btn-color);
    font-size: 40px;
    font-weight: 700;
    color: var(--theme-white-color);
    padding: 15px;
    text-align: center;
}
.application_card .card_body {
    padding: 2.34375vw 4.6875vw 2.34375vw 3.64583vw;
}
.application_card .card_body .application_detail {
    /* display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap; */
}
.app_status .app_date {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
.app_status .app_date li {
    font-size: 40px;
    font-weight: 400;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.app_status .app_date li.heading {
    font-weight: 700;
}
.app_status .app_date li.heading span {
    display: inline-flex;
    margin-left: auto;
}
.app_status .app_date li:first-child {
    flex: 0 0 auto;
    width: 42%;
    margin-right: 2.86458vw;
}
.app_status .app_date .theme-btn-link {
    color: var(--theme-text-color);
    font-size: 1.66667vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: 25%;
    text-underline-position: from-font;
    -moz-text-decoration-line: underline;
    margin-left: 1.82292vw;
}
.status_bar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 760px;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
}
.status_bar li {
    width: 3.22917vw;
    height: 3.22917vw;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-white-color);
    color: #B5B5B5;
    border: 1px solid rgba(3, 132, 212, 0.50);;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.28px;
    margin-bottom: 55px;
}
.status_bar li.active {
    background-color: var(--theme-btn-color);
    color: var(--theme-white-color);
    border: 1px solid transparent;
}
.status_bar li span {
    position: absolute;
    bottom: -55px;
    font-weight: 400;
}
.status_bar li.active span {
    color: var(--theme-btn-color);
}
.app_action {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1.875vw;
}
.app_action .theme-btn {
    max-width: 215px;
    width: 100%;
    justify-content: center;
    color: var(--theme-white-color);
}
.app_action .theme-btn::before {
    display: none;
}
.app_action .theme-btn:hover {
    background-color: var(--theme-btn-color);
    color: var(--theme-white-color);
    border: 1px solid transparent;
}
.app_action .theme-btn + .theme-btn {
    background-color: var(--theme-white-color);
    color: var(--theme-btn-color);
    border: 2px solid var(--theme-btn-color);
}