.dashboard_section {
    position: relative;
    padding: 0 0 5.20833vw;
}
.dashboard_section .section_heading *,
.dashboard_section .section_heading h1,
.dashboard_section .section_heading h2,
.dashboard_section .section_heading h3,
.dashboard_section .section_heading h4 {
    font-size: 3.75vw;
    font-weight: 400;
    margin-bottom: 0.694em;
}
.dashboard_section .section_sub_heading *,
.dashboard_section .section_sub_heading h2,
.dashboard_section .section_sub_heading h3,
.dashboard_section .section_sub_heading h4 {
    font-size: 1.875vw;
    font-weight: 700;
    color: var(--theme-btn-color);
    text-align: center;
    margin-bottom: 0;
}

.my_profile .my_info {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2.34375vw;
    margin-top: 3.38542vw;
}
.profile {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    column-gap: 2.08333vw;
    align-items: center;
    justify-content: center;
}
.profile .profile_img {
    width: 6.45833vw;
    height: 6.45833vw;
}
.profile_name {
    max-width: 26.04167vw;
}
.profile_name .p_name {
    font-size: 1.875vw;
    font-weight: 700;
    color: var(--theme-btn-color);
    margin-bottom: 0.444em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.profile_name .p_email {
    font-size: 1.25vw;
    color: rgba(51, 51, 51, 0.70);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.profile_action {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    column-gap: 5.20833vw;
    align-items: flex-end;
}
.profile_action .profile_btn {
    font-size: 1.45833vw;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 10%;
    text-underline-offset: 25%;
    text-underline-position: from-font;
    margin-bottom: 10px;
}
.application_card {
    border: 4px solid var(--theme-btn-color);
}
.application_card_wrap + .application_card_wrap {
    margin-top: 1.875vw;
}
.application_card .card_header {
    background-color: var(--theme-btn-color);
    font-size: 2.08333vw;
    font-weight: 700;
    color: var(--theme-white-color);
    padding: 15px;
    text-align: center;
    border: 1px solid var(--theme-btn-color);
}
.application_card .card_body {
    padding: 2.34375vw 4.6875vw 2.34375vw 3.64583vw;
}
.application_card .card_body .application_detail {
    /* display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap; */
}
.app_status .app_date {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
.app_status .app_date li {
    font-size: 2.08333vw;
    font-weight: 400;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.app_status .app_date li.heading {
    font-weight: 700;
}
.app_status .app_date li.heading span {
    display: inline-flex;
    margin-left: auto;
}
.app_status .app_date li:first-child {
    flex: 0 0 auto;
    width: 38%;
    margin-right: 2.86458vw;
}
.app_status .app_date .theme-btn-link {
    color: var(--theme-text-color);
    font-size: 1.66667vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: 25%;
    text-underline-position: from-font;
    -moz-text-decoration-line: underline;
    margin-left: 1.82292vw;
}
.app_status .app_fill_date li {
    font-size: 2.08333vw;
    font-weight: 400;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.app_status .app_date.app_fill_date li.heading {
    font-weight: 400;
}
.app_status .app_date.app_fill_date {
    column-gap: 2.60417vw;
}
.app_status .app_date.app_fill_date li:first-child {
    width: auto;
    margin-right: 0;
}
.app_status .app_date.app_fill_date li.heading span {
    font-weight: 700;
    margin-left: 1.04167vw;
}
.app_status .app_date + .app_date {
    margin-top: 1.5625vw;
}
.status_bar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0 0 0 1.04167vw;
    padding: 0;
    list-style: none;
    max-width: 39.58333vw;
    width: 100%;
    justify-content: space-between;
    margin-top: 2.08333vw;
    margin-bottom: 2.86458vw;
    position: relative;
}
.status_bar::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #cacaca;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.status_bar li {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3); 
}
.status_bar li:first-of-type {
    justify-content: flex-start;
}
.status_bar li:last-of-type {
    justify-content: flex-end;
}
.status_bar li .bar_item {
    width: 3.22917vw;
    height: 3.22917vw;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-white-color);
    color: #B5B5B5;
    border: 1px solid rgba(3, 132, 212, 0.50);;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-size: 1.45833vw;
    font-weight: 700;
    letter-spacing: 0.28px;
}
.status_bar li.active .bar_item {
    background-color: var(--theme-btn-color);
    color: var(--theme-white-color);
    border: 1px solid transparent;
}
.status_bar li .bar_item .bar_icon {
    display: none;
}
.status_bar li.active .bar_item .bar_icon {
    display: none;
}
.status_bar li.active.done .bar_item .bar_number {
    display: none;
}
.status_bar li.active.done .bar_item .bar_icon {
    display: block;
    width: 1.35417vw;
    height: 1.35417vw;
    line-height: 1.35417vw;
}
.status_bar li.active.done .bar_item .bar_icon svg {
    width: 100%;
    height: 100%;
}
.status_progress {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: var(--theme-btn-color);
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.status_bar li span {
    position: absolute;
    bottom: -2.86458vw;
    font-weight: 400;
}
.status_bar li.active span {
    color: var(--theme-btn-color);
}
.app_action {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    row-gap: 1.875vw;
    height: 100%;
}
.app_action .theme-btn {
    max-width: 11.19792vw;
    width: 100%;
    justify-content: center;
    color: var(--theme-white-color);
}
.app_action .theme-btn::before {
    display: none;
}
.app_action .theme-btn:hover {
    background-color: var(--theme-btn-color);
    color: var(--theme-white-color);
    border: 1px solid transparent;
}
.app_action .theme-btn + .theme-btn {
    background-color: var(--theme-white-color);
    color: var(--theme-btn-color);
    border: 2px solid var(--theme-btn-color);
}

.delete_modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
    transition: all .4s;
}
.delete_modal.active {
    visibility: visible;
    opacity: 1;
}
.delete_modal_wrap {
    position: relative;
    top: 0;
    z-index: 11;
    overflow-y: auto;
    max-width: 46.875vw;
    width: 100%;
    max-height: 600px;
    background-color: var(--theme-white-color);
    padding: 2.08333vw 4.125vw;
}
.delete_modal_wrap .modal_body .confirm_icon {
    margin-bottom: 16px;
    width: 5.20833vw;
    margin-left: auto;
    margin-right: auto;
}
.delete_modal_wrap .modal_body .heading {
    font-size: 1.875vw;
    font-weight: 700;
    margin-bottom: 16px;
}
.delete_modal_wrap .modal_body {
    text-align: center;
    padding-top: 0;
}
.delete_modal_wrap .modal_body p {
    font-size: 1.45833vw;
    margin-bottom: 1.5625vw;
}
.delete_modal_wrap .modal_action {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    column-gap: 1.25vw;
}
.delete_modal_wrap .modal_action .theme-btn {
    font-size: 1.25vw;
}
.delete_modal_wrap .modal_action .theme-btn::before {
    display: none;
}
.delete_modal_wrap .modal_action .theme-btn:not(:last-child) {
    border: 1px solid var(--theme-btn-color);
    color: var(--theme-btn-color);
    background-color: var(--theme-white-color);
}
.delete_modal_wrap .modal_action .theme-btn:last-child {
    color: var(--theme-white-color);
}
.delete_modal_wrap .modal_action .theme-btn:last-child:hover {
    background-color: var(--theme-btn-color);
    border: 1px solid var(--theme-btn-color);
}


@media (max-width: 1199px) {
    .profile_name .p_name {
        font-size: 18px;
    }
    .profile_name .p_email {
        font-size: 14px;
    }
    .profile_action .profile_btn {
        font-size: 14px;
    }
    .application_card .card_header {
        font-size: 20px;
        padding: 12px;
    }
    .app_status .app_date li {
        font-size: 16px;
    }
    .status_bar li .bar_item {
        font-size: 14px;
    }
    .delete_modal_wrap {
        max-width: 600px;
        width: 90%;
        padding: 3.5625vw 10.16667vw;
    }
    .delete_modal_wrap .modal_body .confirm_icon {
        width: 50px;
    }
    .delete_modal_wrap .modal_body .heading {
        font-size: 20px;
    }
    .delete_modal_wrap .modal_body p {
        font-size: 16px;
        margin-bottom: 24px;
    }
    .delete_modal_wrap .modal_action .theme-btn {
        font-size: 14px;
    }
}
@media (max-width: 991px) {
    .dashboard_section .section_sub_heading *,
    .dashboard_section .section_sub_heading h2,
    .dashboard_section .section_sub_heading h3,
    .dashboard_section .section_sub_heading h4 {
        font-size: 16px;
    }
    .application_card .card_header {
        font-size: 18px;
        padding: 12px;
    }
    .app_action .theme-btn {
        max-width: 100%;
    }
    .app_status .app_date li {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .dashboard_section {
        padding-bottom: 40px;
    }
    .dashboard_section .section_heading *,
    .dashboard_section .section_heading h1,
    .dashboard_section .section_heading h2,
    .dashboard_section .section_heading h3,
    .dashboard_section .section_heading h4 {
        font-size: 24px;
    }
    .my_profile .my_info {
        column-gap: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .application_card_wrap + .application_card_wrap {
        margin-top: 30px;
    }
    .application_card {
        border-width: 2px;
    }
    .application_card .card_body {
        padding: 16px;
    }
    .profile_action {
        flex-wrap: wrap;
        column-gap: 12px;
        flex-direction: row;
        margin-top: 20px;
    }
    .profile_action .profile_btn {
        font-size: 12px;
        text-align: right;
        margin-bottom: 0;
    }
    .profile_action .profile_btn:last-child {
        margin-bottom: 0;
    }
    .profile_name {
        max-width: 100%;
    }
    .profile {
        column-gap: 12px;
    }
    .profile .profile_img {
        width: 50px;
        height: 50px;
    }
    .status_bar {
        max-width: 100%;
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .status_bar li .bar_item {
        width: 40px;
        height: 40px;
    }
    .status_bar li span {
        bottom: -30px;
    }
    .app_status .app_date {
        column-gap: 16px;
    }
    .app_status .app_date .theme-btn-link {
        font-size: 12px;
        width: auto;
        margin-left: auto;
    }
    .app_status .app_date li {
        width: calc(50% - 16px);
    }
    .app_status .app_date li:first-child {
        width: 50%;
        margin-right: 0;
    }
    .app_status .app_date + .app_date {
        margin-top: 15px;
    }
    .app_action {
        row-gap: 12px;
    }
    .status_bar li.active.done .bar_item .bar_icon {
        width: 20px;
        height: 13px;
    }
    .delete_modal_wrap {
        padding: 24px;
    }
    .delete_modal_wrap .modal_body .confirm_icon {
        width: 80px;
    }
    .delete_modal_wrap .theme-btn {
        min-width: 120px;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .app_status .app_date {
        flex-wrap: wrap;
        column-gap: 16px;
    }
    .app_status .app_date .theme-btn-link {
        margin-top: 10px;
        width: 45%;
    }
    .app_status .app_date.app_fill_date li:first-child {
        width: 100%;
    }
    .app_status .app_date.app_fill_date li {
        column-gap: 16px;
    }
    .app_status .app_date.app_fill_date li > * {
        flex: 0 0 auto;
        width: calc(50% - 16px);
    }
    .app_status .app_date.app_fill_date li.heading span {
        margin-left: 20px;
    }
    .app_status .app_date.app_fill_date li {
        width: 100%;
    }
    .delete_modal_wrap .modal_action {
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 16px;
    }
}