
.rti_section.rti_detail_section {
    position: relative;
    overflow: hidden;
    padding: 5.20833vw 0 6.25vw;
}
.rti_detail_section .rti_wrapper {
    margin-left: -12px;
    margin-right: -12px;
    row-gap: 2.5vw;
}
.rti_detail_section .rti_block {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100% / 4);
}
.rti_detail_section .rti_item {
    height: 20.22917vw;
    padding: 2.2625vw 1.04167vw;
}
.rti_detail_section .rti_item .theme-btn-link {
    font-size: 1.04167vw;
    font-weight: 400;
}
.rti_detail_section .rti_item .theme-btn-link + .theme-btn-link {
    font-weight: 700;
    border: 2px solid var(--theme-white-color);
    padding: 0.333em 0.833em;
    margin-left: 1.5625vw;
}
.rti_detail_section .rti_item:hover .rti_scroll {
    margin-top: -30%;
}
.rti_detail_section .rti_tab_wrapper {
    margin-bottom: 2.60417vw;
}
.rti_detail_section .rti_item .fs-28 {
    font-size: 1vw;
    font-weight: 700;
}
.rti_detail_section .rti_item .rti_content:first-child {
    margin-top: 1.25em;
    margin-bottom: 1em;
}
.rti_detail_section .rti_item .rti_content p {
    font-size: 1.04167vw;
    font-weight: 400;
}
.rti_detail_section .rti_item.active:hover .rti_img {
    visibility: visible;
    opacity: 1;
}
.rti_detail_section .rti_item.active:hover .rti_scroll {
    margin-top: 0;
}
.rti_detail_section .rti_item.active:hover .rti_content {
    font-weight: 700;
}
.rti_detail_section .rti_item.active .rti_content + .rti_content {
    margin-top: 0;
    font-style: normal;
    visibility: visible;
    opacity: 1;
    font-weight: 400;
}




.process_section.process_section_inner {
    position: relative;
    background-color: #F8F8F8;
    padding-top: 4.6875vw;
}

.testimonials_section {
    position: relative;
    padding: 7.8125vw 0;
    overflow: hidden;
}
.testimonial_head_row {
    margin-bottom: 3.125vw;
}
.testimonial_head_row .section_heading > *,
.testimonial_head_row .section_heading > h2,
.testimonial_head_row .section_heading > h3,
.testimonial_head_row .section_heading > h4 {
    font-size: 2.91667vw;
    font-weight: 700;
    margin-bottom: 0;
}

.testimonial_item {
    position: relative;
    text-align: center;
    margin-top: 7.29167vw;
    margin-bottom: 2.60417vw;
    padding: 5.72917vw 3.64583vw 1.82292vw;
    background-color: #F8F8F8;
    -webkit-box-shadow: 0px 4px 23.2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 23.2px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 4px 23.2px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 4px 23.2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 23.2px 0px rgba(0, 0, 0, 0.15);
}

.testimonial_img_wrap {
    position: absolute;
    left: 50%;
    top: -22%;
    top: -16%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 8.33333vw;
    height: 8.33333vw;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.testimonial_img_wrap img{
    width: 100%;
    height: 100%;
}

.testimonial_profile_name > *,
.testimonial_profile_name > h2,
.testimonial_profile_name > h3,
.testimonial_profile_name > h4,
.testimonial_profile_name > h5 {
    font-size: 1.45833vw;
    font-weight: 700;
    margin-bottom: 1.25em;
}
.testimonial_content,
.testimonial_content p {
    font-size: 1.25vw;
    font-weight: 400;
    margin-bottom: 0;
    min-height: 9.479vw;
}
.quote_left,
.quote_right {
    position: absolute;
}
.quote_left {
    top: -7%;
    left: 0;
}
.quote_right {
    bottom: -6%;
    right: 0;
}

.testimonial_client_slider .slick-list {
    margin-left: -1.5625vw;
    margin-right: -1.5625vw;
}
.testimonial_client_slider .slick-slide {
    padding-left: 1.5625vw;
    padding-right: 1.5625vw;
}
.testimonial_client_btn_wrap {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    column-gap: 8px;
    justify-content: flex-end;
}
.testimonial_client_btn_wrap li {
    cursor: pointer;
    width: 3.64583vw;
    height: 3.64583vw;
}

.process_section.process_section_inner .process_row > *:not(:first-child) .process_flow {
    padding-bottom: 8.6875vw;
}
.process_section.process_section_inner .process_row > *:not(:first-child) {
    margin-top: 3.00417vw;
}
.process_section.process_section_inner .process_row > *:not(:first-child) + * {
    margin-top: 6.20833vw;
}
.process_section.process_section_inner .process_row > *:not(:first-child) + * .process_flow {
    padding-bottom: 8.6875vw;
}
.process_section.process_section_inner .process_row > *:not(:first-child) .process_flow {
    padding-bottom: 6.6875vw;
}

@media (max-width: 1199px) {
    .rti_detail_section .rti_item .fs-28 {
        font-size: 13px;
    }
    .rti_detail_section .rti_item .rti_content p {
        font-size: 13px;
    }
    .rti_detail_section .rti_item {
        height: 26.22917vw;
    }
    .rti_detail_section .rti_item .theme-btn-link {
        font-size: 12px;
    }
    .rti_detail_section .rti_item .rti_content + .rti_content {
        margin-top: 5px;
    }

    .testimonial_profile_name > *,
    .testimonial_profile_name > h2,
    .testimonial_profile_name > h3,
    .testimonial_profile_name > h4,
    .testimonial_profile_name > h5 {
        font-size: 18px;
    }
    .testimonial_client_slider .slick-list {
        margin-left: -2.5625vw;
        margin-right: -2.5625vw;
    }
    .testimonial_client_slider .slick-slide {
        padding-left: 2.5625vw;
        padding-right: 2.5625vw;
    }
    .testimonial_content, .testimonial_content p {
        font-size: 14px;
    }
    .testimonial_item .quote_left {
        width: 50px;
        top: -10%;
    }
    .testimonial_item .quote_right {
        width: 50px;
        bottom: -10%;
    }


    .testimonial_content, .testimonial_content p {
        min-height: 12.779vw;
    }


}

@media (max-width: 991px) {
    .rti_detail_section .rti_item {
        height: 27.22917vw;
    }
    .rti_detail_section .rti_item:hover .rti_scroll {
        margin-top: -22%;
    }
    .rti_detail_section .rti_block {
        width: calc(100% / 3);
    }
    .testimonial_item {
        margin-top: 9.29167vw;
        margin-bottom: 4.60417vw;
        padding: 5.72917vw 3.64583vw 3.82292vw;
    }
    .testimonial_img_wrap {
        top: -15%;
        width: 70px;
        height: 70px;
    }
    .testimonial_item .quote_left {
        width: 40px;
        top: -6%;
    }
    .testimonial_item .quote_right {
        width: 40px;
        bottom: -6%;
    }

    .testimonial_content, .testimonial_content p {
        min-height: 19.779vw;
    }

    .process_section.process_section_inner .process_row > *:not(:first-child) {
        margin-top: 5.20417vw;
    }

    .process_section.process_section_inner .process_row > *:not(:first-child) + * {
        margin-top: 10.50833vw;
    }

   

}

@media (max-width: 768px) {
    .rti_detail_section .rti_item {
        height: 30.22917vw;
    }
    .rti_detail_section .rti_block:last-child .rti_item {
        padding-top: 4.2625vw;
    }

    .process_section.process_section_inner .process_row > *:not(:first-child) {
        margin-top: 6.20417vw;
    }

    .process_section.process_section_inner .process_row > *:not(:first-child) + * {
        margin-top: 12.50833vw;
    }
}

@media (max-width: 767px) {
    .rti_section.rti_detail_section {
        padding: 50px 0;
    }
    .rti_detail_section .rti_tab_wrapper {
        margin-bottom: 40px;
    }
    .rti_detail_section .rti_wrapper {
        row-gap: 40px;
    }
    .rti_detail_section .rti_block {
        width: calc(100% / 2);
    }
    .rti_detail_section .rti_item {
        height: 38.22917vw;
        padding: 15px;
    }
    .rti_detail_section .rti_item .theme-btn-link {
        font-size: 14px;
    }
    .rti_detail_section .rti_item .theme-btn-link + .theme-btn-link {
        margin-left: 20px;
    }
    .process_section.process_section_inner {
        padding-top: 50px;
    }
    .testimonials_section {
        padding: 50px 0;
    }
    .testimonial_head_row .section_heading > *,
    .testimonial_head_row .section_heading > h2,
    .testimonial_head_row .section_heading > h3,
    .testimonial_head_row .section_heading > h4 {
        font-size: 30px;
    }
    .testimonial_client_slider .slick-list {
        margin-left: -20px;
        margin-right: -20px;
    }
    .testimonial_client_slider .slick-slide {
        padding-left: 20px;
        padding-right: 20px;
    }
    .testimonial_img_wrap {
        width: 80px;
        height: 80px;
    }
    .testimonial_img_wrap {
        top: -13%;
    }
    .testimonial_item {
        margin-top: 20.29167vw;
        margin-bottom: 15.60417vw;
        padding: 12.72917vw 5.72917vw 12.72917vw;
    }
    .testimonial_profile_name > *,
    .testimonial_profile_name > h2,
    .testimonial_profile_name > h3,
    .testimonial_profile_name > h4,
    .testimonial_profile_name > h5 {
        font-size: 20px;
    }
    .testimonial_content, .testimonial_content p {
        font-size: 16px;
    }
    .testimonial_item .quote_left {
        width: 45px;
        top: -6%;
    }
    .testimonial_item .quote_right {
        width: 45px;
        bottom: -5%;
    }
    .testimonial_client_btn_wrap li {
        width: 40px;
        height: 40px;
    }

    .testimonial_content, .testimonial_content p {
        min-height: 43.779vw;
    }

    


    .testimonial_profile_name > *, .testimonial_profile_name > h2, .testimonial_profile_name > h3, .testimonial_profile_name > h4, .testimonial_profile_name > h5 {
        font-size: 20px;
        min-height: 50px;
    }


}
@media (max-width: 575px) {
    .rti_detail_section .rti_block {
        width: 100%;
    }
    .rti_detail_section .rti_item .fs-28 {
        font-size: 20px;
    }
    .rti_detail_section .rti_item .rti_content p {
        font-size: 16px;
    }
    .rti_detail_section .rti_item {
        height: 285px;
    }
    .rti_detail_section .rti_item:hover .rti_scroll {
        margin-top: -18%;
    }
}